body{
    transition: all .3s;
    letter-spacing: 0.2px;;
}
*{
    transition: all .3s;
}
@font-face{
    font-family: "LondrinaSolid Regular";
    src: url(LondrinaSolid-Regular.ttf) format("truetype");
}
@font-face{
    font-family: "Montserrat Regular";
    src: url(Montserrat-Regular.ttf) format("truetype");
}
@font-face{
    font-family: "Montserrat Bold";
    src: url(Montserrat-Bold.ttf) format("truetype");
}
.font-montserrat-bold{
    font-family: "Montserrat Bold";
}
h1, h2, h3, h4, h5, h6{font-family: "LondrinaSolid Regular";}
p,a,label,th,td,li{
    font-family: "Montserrat Regular";
    font-size :  14px;
    line-height : 24px;
}
/* Colors */
.text-blue{
    color: #0c59d4;
}
.text-gray{
    color: #5b5b5b;
}
.text-orange{
    color: #fa6b29;
}
.text-light-blue{
    color: #4fb4fe;
}
/* Size */
.font-h1{
    font-size: 2.5rem;
}
.font-4rem{
    font-size: 4rem;
}
.font-3rem{
    font-size: 3rem;
}
/* Nav */
.nav-fuko{
    position: fixed;
    top: 0;
    z-index: 100;
    transition: all .5s;
    /*background-image: url(../images/bg-menu-04.png);*/
    height: 100px;
}
.nav-fuko .bg-logo-nav{
	background-image: url(../images/fuko-logo-new-07.png);
	height: 102px;
	width: 150px;
	background-size: contain;
}
.blue-top{
	width: 100%;
	height: 55px;
}
.side-menu{
    background-image: url(../images/side-menu-bg-06.jpg);
    background-size: cover;
    background-position: left;
    position: fixed;
    z-index: 10;
    right: -400px;
    height: 100vh;
    width: 400px;
}
.side-menu.active{
    right: 0;
}
.side-menu .wrap-menu ul{
    list-style: none;
    padding-left: 70px;
}
.side-menu .wrap-menu ul li{
    padding: 15px 0;
}
.side-menu .wrap-menu ul li a{
    color: #0c59d4;
    font-family: "LondrinaSolid Regular";
    font-size: 38px;
    transition: all .3s;
}
.side-menu .wrap-menu ul li a:hover{
    color: #000;
    border-bottom: 4px solid #fff;
    text-decoration: none;
}
/* Page Setup */
.banner-top-wrap{
    overflow-x: hidden;
    overflow-y: hidden;
}
.banner-top-wrap .top-ornament{
    position: absolute;
    right: -23px;
    top: 0px;
    z-index: 4;
}
.banner-top-wrap .line-ornament{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
}
.content-all-bg{
    background-image: url(../images/background-wrapper-04-07.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.parallaxed-all-bg{
    background-image: url(../images/background-parallaxed-FIXED-01.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.how-to-drink{
    padding-bottom: 100px;
}
.how-to-drink .ornament-rumah{
    position: absolute;
    top: -240px;
    z-index: 4;
    left: 0
}
.how-to-drink .img-content{
    margin-top: 10rem;
}
.how-to-drink .content-step{
    padding: 6rem 8rem 10rem 5rem;
}
.choose-your-flavor{
    padding-top: 8.8rem;
    padding-bottom: 6.3rem;
}
.wrap-content-flavor{
    padding: 4rem 0;
}
.carousel-flavor .owl-prev{
    position: absolute;
    top: 0;
    left: 10rem;
}
.carousel-flavor .owl-next{
    position: absolute;
    top: 0;
    right: 10rem;
}
.owl-theme .owl-nav [class*="owl-"]:hover{
    background: transparent;
}
.fuko-bottle{
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 6.1rem;
	float: right;
	right: 29.4%;
	z-index: 2;
	margin-top: 10rem;
	margin-bottom: 10rem;
}
.chevron-down-banner-top{
	width: 40px;
}
.cube-1{
	position: absolute;
	z-index: 3;
}
.hand-1{
	position: absolute;
	z-index: 3;
}
.last-hand{
	position: absolute;
	z-index: 3;
}
.wrapper-button-flavor{
    background-color: #f8df00;
    width: 590px;
    margin: auto;
    padding: 1rem 0 1rem;
    border-radius: 10rem;
    -webkit-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.5);
}
.mt-min-1rem{
    margin-top: -1rem;
}
.what-you-know{
    padding: 10rem 0 1.3rem;
}
.what-you-know .left-desc{
    padding: 8.1rem 0;
}
.testimonial{
    padding-top: 3.2rem;
}
.testimonial .play-button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.what-you-know .ornament-before::before {
    content: '';
    width: 65px;
    display: block;
    height: 44px;
    background-image: url(../images/ornament-yellow-letter-before-20.png);
    margin-bottom: -14px;
    margin-left: -32px;
}
.footer{
    background-image: url(../images/footer-bg-25.jpg);
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 3rem;
}
.footer .ornament-before::before {
    content: '';
    width: 51px;
    display: block;
    height: 35px;
    background-image: url(../images/ornament-yellow-letter-before-footer-26.png);
    margin-bottom: -14px;
    margin-left: -32px;
}