body{
    transition: all .3s;
    letter-spacing: 0.2px;
}
*{
    transition: all .3s;
}
@font-face{
    font-family: "LondrinaSolid Regular";
    src: url(LondrinaSolid-Regular.ttf) format("truetype");
}
@font-face{
    font-family: "Montserrat Regular";
    src: url(Montserrat-Regular.ttf) format("truetype");
}
@font-face{
    font-family: "Montserrat Bold";
    src: url(Montserrat-Bold.ttf) format("truetype");
}
.font-montserrat-bold{
    font-family: "Montserrat Bold";
}
h1, h2, h3, h4, h5, h6{font-family: "LondrinaSolid Regular";}
p,a,label,th,td,li{
    font-family: "Montserrat Regular";
    font-size :  14px;
    line-height : 24px;
}
a:hover{
	text-decoration: none;
}
a .text-blue:hover{
	color: #0530b9;
}
/* Colors */
.text-blue{
    color: #0c59d4;
}
.text-gray{
    color: #5b5b5b;
}
.text-orange{
    color: #fa6b29;
}
.text-light-blue{
    color: #4fb4fe;
}
.text-yellow{
	color: #f8df00;
}
/* Size */
.font-h1{
    font-size: 2rem;
}
.font-4rem{
    font-size: 4rem;
}
.font-3rem{
    font-size: 3rem;
}
/* Nav */
.nav-fuko{
    position: fixed;
    top: 0;
    z-index: 100;
    transition: all .5s;
    /*background-image: url(../images/bg-menu-04.png);*/
    height: 100px;
}
.nav-fuko .bg-logo-nav{
	background-image: url(../images/fuko-logo-new-07.png);
	height: 102px;
	width: 150px;
	background-size: contain;
	position: absolute;
}
.blue-top{
	width: 100%;
	height: 60px;
	position: absolute;
}
.side-menu{
    background-image: url(../images/side-menu-bg-06.jpg);
    background-size: cover;
    background-position: left;
    position: fixed;
    z-index: 101;
    right: -400px;
    height: 100vh;
    width: 400px;
}
.side-menu.active{
    right: 0;
}
.side-menu .wrap-menu ul{
    list-style: none;
    padding-left: 70px;
}
.side-menu .wrap-menu ul li{
    padding: 15px 0;
}
.side-menu .wrap-menu ul li a{
    color: #0c59d4;
    font-family: "LondrinaSolid Regular";
    font-size: 38px;
    transition: all .3s;
}
.side-menu .wrap-menu ul li a:hover{
    color: #000;
    border-bottom: 4px solid #fff;
    text-decoration: none;
}
/* Page Setup */
a.menu-icon img:hover{
	transform: scale(1.1);
}
.banner-top-wrap{
    overflow-x: hidden;
    overflow-y: hidden;
}
.banner-top-wrap .top-ornament{
    position: absolute;
    right: -23px;
    top: 50px;
    z-index: 3	;
}
.banner-top-wrap .line-ornament{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
}
.content-all-bg{
    background-image: url(../images/background-wrapper-04-07.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.parallaxed-all-bg{
    background-image: url(../images/background-parallaxed-FIXED-01.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.how-to-drink{
    padding-bottom: 100px;
}
.how-to-drink .ornament-rumah{
    /*position: absolute;
    top: -240px;
    z-index: 4;
    left: 0*/
    position: absolute;
    top: -195px;
    z-index: 4;
    left: 0;
    width: 33%;
}
.how-to-drink .img-content{
    margin-top: 10rem;
}
.how-to-drink .content-step{
    padding: 6rem 8rem 10rem 5rem;
}
.choose-your-flavor{
    padding-top: 4rem;
    padding-bottom: 5rem;
}
.wrap-content-flavor{
    padding: 1rem 0;
}
.carousel-flavor .owl-stage-outer .owl-stage .owl-item .title-flavor{
	/*transition: opacity 2.0s ease;*/
	visibility: hidden;
	/*opacity: 0;*/
}
.carousel-flavor .owl-stage-outer .owl-stage .owl-item.active.center .title-flavor{
	visibility: visible;
	/*opacity: 1;*/
}
.carousel-flavor .owl-stage, .carousel-flavor .owl-stage-outer{
	transition: all .6s ease-in-out;
}
.carousel-flavor .owl-item.active{
	padding: 90px 0 324px;
}
.carousel-flavor .owl-item.active:not(.center) .img-content{
	width: 85%;
}
.carousel-flavor .owl-item.active.center .img-content:hover{
	transform: scale(1.1);
	cursor: pointer;
}
.carousel-flavor .owl-item{
	transition: all .6s ease-in-out;
	margin: 0 auto;
}
.carousel-flavor .owl-stage-outer .owl-stage .owl-item.active.center{
	transform: scale(1.5);
	transition: all .6s ease-in-out;
}
.carousel-flavor .owl-prev{
    position: absolute;
    top: 30px;
    left: 10rem;
}
.carousel-flavor .owl-next{
    position: absolute;
    top: 30px;
    right: 10rem;
}
.carousel-flavor.owl-theme .owl-dots .owl-dot span{
	background: #2c4199 !important;
}
.carousel-flavor.owl-theme .owl-dots .owl-dot.active span, .carousel-flavor.owl-theme .owl-dots .owl-dot:hover span{
	background: #f8df00 !important;
}
.carousel-flavor .owl-item .bg-content{
	display: none;
}
.carousel-flavor .owl-stage-outer .owl-stage .owl-item.active.center .bg-content{
	display: block
}
.modal-flavor-bg{
	background-image: url(../images/popup-bg-07.png);
	background-color: transparent;
	border: none;
	padding: 40px 0 70px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.modal-flavor-bg .mr-5.button-times {
    position: absolute;
    right: 147px;
}
.modal-flavor-bg .mr-5.button-times:hover {
    transform: scale(1.1);
}
.owl-theme .owl-nav [class*="owl-"]:hover{
    background: transparent;
}
.fuko-bottle{
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 19rem;
	float: right;
	right: 30%;
	z-index: 2;
	margin-top: 10rem;
	margin-bottom: 10rem;
}
.chevron-down-banner-top{
	width: 40px;
}
.cube-1{
	position: absolute;
	z-index: 3;
}
.hand-1{
	position: absolute;
	z-index: 3;
}
.last-hand{
	position: absolute;
	z-index: 3;
}
.wrapper-button-flavor{
    background-color: #f8df00;
    width: 590px;
    margin: auto;
    padding: 1rem 0 1rem;
    border-radius: 10rem;
    -webkit-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.5);
}
.wrapper-button-get{
    background-color: #f8df00;
    width: 300px;
    margin: auto;
    padding: 1rem 0 1rem;
    border-radius: 10rem;
    -webkit-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.5);
}
.wrapper-button-get:hover{
	transform: scale(1.1);
}
.mt-min-1rem{
    margin-top: -1rem;
}
.what-you-know{
    padding: 0 0 3rem;
}
.what-you-know .left-desc{
    padding: 0;
}
.testimonial{
    padding-top: 3.2rem;
}
.testimonial .play-button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.what-you-know .ornament-before::before {
    content: '';
    width: 65px;
    display: block;
    height: 44px;
    background-image: url(../images/ornament-yellow-letter-before-20.png);
    margin-bottom: -14px;
    margin-left: -32px;
}
.footer{
    background-image: url(../images/footer-bg-25.jpg);
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 3rem;
}
.footer .ornament-before::before {
    content: '';
    width: 51px;
    display: block;
    height: 35px;
    background-image: url(../images/ornament-yellow-letter-before-footer-26.png);
    margin-bottom: -14px;
    margin-left: -32px;
}
.footer a:hover{
	text-decoration: none;
}
.footer a span:hover{
	color: #0530b9;
	transition: all .3s;
}
.link-1.active{
	display: none;
}
.link-2{
	display: none;
}
.link-2.active{
	display:block;
}
.carousel-know.owl-theme .owl-dots .owl-dot.active span, .carousel-know.owl-theme .owl-dots .owl-dot:hover span{
	background: #fff !important;
}
.carousel-know.owl-theme .owl-dots .owl-dot span{
	background: #f8df00 !important;
}
.carousel-know.owl-theme .owl-nav .owl-prev{
	position: absolute;
	left: 40%;
	bottom: -20px;
}
.carousel-know.owl-theme .owl-nav .owl-next{
	position: absolute;
	right: 40%;
	bottom: -20px;
}
@media screen and (max-width: 846px) {
	p, a, label, th, td, li {
	    font-family: "Montserrat Regular";
	    font-size: 10px;
	    line-height: 24px;
	}
	.font-h1 {
    	font-size: 1.7rem;
	}
	.font-4rem {
    		font-size: 2.7rem;
	}
	.font-3rem {
    	font-size: 2rem;
	}
	.nav-fuko .bg-logo-nav {
		max-width: 100%;
		height: 83px;
		width: 121px;
	}
	.how-to-drink .ornament-rumah {
	    position: absolute;
		top: -121px;
		z-index: 4;
		left: -30px;
		width: 270px;
	}
	.chevron-down-banner-top {
	    width: 28px;
	    position: relative;
	    z-index: 4;
	}
	.what-you-know .left-desc {
    	padding: 0 0;
	}
	.content-all-bg {
		background-image: none;
	}
	.parallaxed-all-bg{
		background-image: url(../images/background-wrapper-mobile-04-01.jpg);
	}
	.choose-your-flavor {
	    padding-top: 31.4rem;
	    padding-bottom: 6.3rem;
	}
	.wrapper-button-get{
		width: 230px;
	}
	.arrow-carousel-flavor{
		width: 60%;
	}
	.modal-flavor-bg{
		background-image: url(../images/popup-bg-mobile-05.png);
	}
	.modal-flavor-bg .button-times{
		position: absolute;
		right: 0;
		top: 0;
	}
	.modal-flavor-bg .img-content{
		width: 50%;
		margin: auto;
		display: block;
	}
	.modal-flavor-bg .wrapper-button-flavor img{
		width: 16px;
	}
	.wrapper-button-flavor {
	    width: 76%;
	}
	.carousel-flavor .border-yellow{
		width: 130px !important;
	}
	.carousel-know .border-yellow{
		width: 205px !important;
	}
	.testimonial {
	    padding-top: 21.1rem;
padding-bottom: 6.2rem;
	}
	.footer{
		background-image: url(../images/footer-bg-mobile-05.jpg);
		background-size: contain;
	}
	.footer .border-yellow{
		width: 190px;
	}
	.what-you-know {
    	padding: 21rem 0 1.3rem;
	}
	.carousel-flavor .owl-item.active, .carousel-flavor .owl-item {
    	padding: 70px 0 186px;
	}
	.carousel-flavor .owl-item.active:not(.center) .img-content{
		width: 100% !important;
	}
	.carousel-know.owl-theme .owl-nav.disabled + .owl-dots {
    	margin-top: 0;
	}
}

.matahari{
	position: absolute;
	z-index: 3;
	top: 90rem;
	left: -80px;
	transform: translateY(-50%);
}
.bulan{
	position: absolute;
	z-index: 3;
	top: 15rem;
	left: 0;
	transform: translateY(-50%);
}
/*
Animation
*/
.move-right, .move-left, .move-top{
	transition: none;
}